.statusbar {
  background-color: rgba(46, 43, 59, 0.6);
  border-radius: 30px;
  padding: 5px;
  margin: 0px;
}

.time {
  color: rgba(221, 224, 202, 1);
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws{
  margin: 0 10 0 10;
}

.ws-button-active-1 {
  all: unset;
  color: rgba(134, 171, 114, 1); 
  border: 1px solid rgba(134, 171, 114, 1);
  border-radius: 50%;
  margin: 0 8 0 8;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-active-2 {
  all: unset;
  color: rgba(90, 170, 200, 1);
  border: 1px solid rgba(90, 170, 200, 1);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-active-3 {
  all: unset;
  color: rgba(180, 156, 90, 1);
  border: 1px solid rgba(180, 156, 90, 1);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-active-4 {
  all: unset;
  color: rgba(136, 155, 215, 1);
  border: 1px solid ;
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-1 {
  all: unset;
  color: rgba(134, 171, 114, 1);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-2 {
  all: unset;
  color: rgba(90, 170, 200, 1);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-3 {
  all: unset;
  color: rgba(180, 156, 90, 1);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-4 {
  all: unset;
  color: rgba(136, 155, 215, 1);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-1 {
  all: unset;
  color: rgba(221, 224, 202, 1);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-2 {
  all: unset;
  color: rgba(221, 224, 202, 1);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-3 {
  all: unset;
  color: rgba(221, 224, 202, 1);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-4 {
  all: unset;
  color: rgba(221, 224, 202, 1);
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.sidestuff slider {
  all: unset;
}

.label{ 
  font-size: 25px;
  color: #CEC8EC;
}

.metric scale trough highlight {
  all: unset;
  background-color: #254A6B;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #CEC8EC; 
  border-radius: 50px;
  min-height: 15px;
  min-width: 100px;
  margin: 0 10px 0 10px;
}

