.statusbar {
  background-color: rgba(45.93, 43.72, 57.04, 0.6);
  border-radius: 30px;
  padding: 5px;
  margin: 0px;
}

.time {
  color: #F1F3E1 ;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws{
  margin: 0 10 0 10;
}

.ws-button-active-1 {
  all: unset;
  color: #B5D6A4;
  border: 1px solid #B5D6A4;
  border-radius: 50%;
  margin: 0 8 0 8;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-active-2 {
  all: unset;
  color: #92DBCC;
  border: 1px solid #92DBCC;
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-active-3 {
  all: unset;
  color: #DDC991;
  border: 1px solid #DDC991;
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-active-4 {
  all: unset;
  color: #B7C8FD;
  border: 1px solid #B7C8FD;
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-1 {
  all: unset;
  color: #B5D6A4;
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-2 {
  all: unset;
  color: #92DBCC;
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-3 {
  all: unset;
  color: #DDC991;
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-busy-4 {
  all: unset;
  color: #B7C8FD;
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-1 {
  all: unset;
  color: #F1F3E1;
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-2 {
  all: unset;
  color: #F1F3E1;
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-3 {
  all: unset;
  color: #F1F3E1;
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.ws-button-4 {
  all: unset;
  color: #F1F3E1;
  border-radius: 50%;
  margin: 0 8px 0 8px;
  padding: 0 8px 0 8px;
  font-size: 15pt;
  font-family: KoPubWorldBatang_Pro;
}

.sidestuff slider {
  all: unset;
}

.label{ 
  font-size: 20px;
  color: #CAC7D9 ;
}

.metric scale trough highlight {
  all: unset;
  background-color: rgba(202.3, 204.42, 186.86, 0.8); 
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: rgba(202.48, 199.98, 217.29, 0.8);
  border-radius: 50px;
  min-height: 15px;
  min-width: 100px;
  margin: 0 10px 0 10px;
}

